<%#-*- coding: utf-8 -*-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= page.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <meta name="description" content="<%= page.description %>"/>
    <meta name="author" content="<%= page.author %>"/>
    <meta name="keywords" content="<%= page.keywords %>"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
   
    <!--script type="text/javascript" src="/js/jquery.validate.js" charset="ISO-8859-1"></script-->
    
    <!-- Javascript Resources -->
    <!--script src="/assets/js/require_config.js"></script-->   
    
    <!--<script src="/assets/js/require.js" ></script>
    <script src="/assets/js/built.js"></script> -->   
     
    <%= page.scripts %> 
        
    <!-- CSS Resources -->
    
    <%= page.styles %>

  </head>
  <body>

    <% if page.variables.has_key?(:top) %>    
      <div id="top">
         <div class="container_12">
           <%= page.variables[:top] %>
         </div>
      </div>
    <% end %>

    <% if page.variables.has_key?(:header) %>    
      <div id="header">
         <div class="container_12">
           <%= page.variables[:header] %>
         </div>
      </div>
    <% end %>
        
    <div id="container">
       
      <div id="container_header" class="container_header container_12"> 
        <h1 class="site_title grid_4">
          <a href="/">
            <% unless site_logo.empty? %>
              <img src="<%=site_logo%>" alt="<%= site_title%>"/>
            <% end %>
            <% unless site_title.empty? %>
            <%= site_title %>
            <% end %>
          </a>
        </h1>
        <% unless site_slogan.empty? %>
        <p class="site_slogan">
          <%= site_slogan %>
        </p>
        <% end %>
        <% if page.variables.has_key?(:container_header) %>
          <%= page.variables[:container_header]  %>
        <% end %>  
        <% if page.variables.has_key?(:login_register) and not page.variables[:login_register].empty? %>
          <div id="login_register" class="prefix_3 grid_4">
             <%= page.variables[:login_register]  %>
          </div>
        <% end %>
        <% if page.variables.has_key?(:connected_user) and not page.variables[:connected_user].empty? %>
          <div id="connected_user" class="prefix_6 grid_1">
             <%= page.variables[:connected_user]  %>
          </div>
        <% end %>        
      </div>
      
      <% if page.variables.has_key?(:container_headline) and not page.variables[:container_headline].empty? %>
      <div id="container_headline">
        <%= page.variables[:container_headline] %>
      </div>
      <% end %>
                             
      <div id="container_content" class="container_12">
          <% if page.variables.has_key?(:content_left) and page.variables[:content_left].length > 0 %>
            <div class="grid_2">
              <div id="container_content_left">
                <%= page.variables[:content_left]  %>
              </div>
            </div>
          <% end %>
          <div class="grid_<%= ((page.variables.has_key?(:content_left) and page.variables[:content_left].length > 0)?0:2) + 7 + 
                               ((page.variables.has_key?(:content_right) and page.variables[:content_right].length > 0)?0:3) %>">
            <div id="container_content_center">
              <% if page.variables.has_key?(:content_top) %>
                <%= page.variables[:content_top] %>
              <% end %>
              <%= partial :flash_messages %>
              <%= page.content %>
              <% if page.variables.has_key?(:content_bottom) %>
                <%= page.variables[:content_bottom] %>
              <% end %>
            </div>
          </div>
          <% if page.variables.has_key?(:content_right) %>
            <div class="grid_3">
              <div id="container_content_right">
                <%= page.variables[:content_right]  %>
              </div>
            </div>
          <% end %>
      </div>
                                   
      <!-- Page footer -->
      <div id="container_footer" class="container_12">
        <div id="container_footer_content">
          <% if page.variables.has_key?(:container_bottom) %>
            <%= page.variables[:container_bottom]  %>
          <% end %>
        </div>
      </div>
      
    </div>

    <% if page.variables.has_key?(:bottom) %>    
      <div id="bottom">
         <div class="container_12">
           <%= page.variables[:bottom] %>
         </div>
      </div>
    <% end %>

    <!-- jQuery tools OVERLAY integration -->
    
    <div class="apple_overlay" id="overlay">

	   <!-- the external content is loaded inside this tag -->
	   <div class="contentWrap"></div>

    </div>	

    <script type="text/javascript">

      require(['jquery','jquery.tools'], function($) {
      	
	      $("a[rel='#overlay'].external").overlay({
	      	
	        mask: {
		       color: '#aaaaaa',
		       loadSpeed: 200,
		       opacity: 0.5
   	        },
	
	        closeOnClick : false,
	      	
		    onBeforeLoad: function() {
		    	
		      this.getOverlay().width(640);
		      this.getOverlay().height(440);	
			  
			  // grab wrapper element inside content
			  var wrap = this.getOverlay().find(".contentWrap");

		  	  // load the page specified in the trigger
			  wrap.load(this.getTrigger().attr("href"));
	      	}

	      });
      });
    </script>

  </body>
</html>