<%#-*- coding: utf-8 -*-%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= page.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="<%=page.language%>"> 
    <meta name="description" content="<%=page.description%>"/>
    <meta name="author" content="<%=page.author%>"/>
    <meta name="keywords" content="<%= page.keywords %>"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <%= page.scripts %> 
    <%= page.styles %>
  </head>
  <body>

      <% if (user and not user.belongs_to?('anonymous'))%>     
        <div id="top" class="top-user">
          <div class="container-row">
            <div class="container_12">
              <div class="grid_2">
                <h1 class="site_title">
                  <a href="/" title="site_title">
                    <% unless site_logo.empty? %>
                      <img src="<%=site_logo%>" alt="<%= site_title%>" class="site_logo"/>
                    <% end %>
                    <% if site_logo.empty? and not site_title.empty? %>
                      <%= site_title %>
                    <% end %>
                  </a>
                </h1>           
              </div>
              <div class="grid_8">
                 <% if page.variables.has_key?(:admin_menu) and not page.variables[:admin_menu].empty?%> 
                   <%= page.variables[:admin_menu] %>
                 <% else %>
                   <span>&nbsp;</span>
                 <% end %>
              </div>
              <div class="grid_2">
               <% if page.variables.has_key?(:connected_user) and not page.variables[:connected_user].empty? %>
                 <div id="connected_user">
                   <%= page.variables[:connected_user]  %>
                 </div>
               <% end %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div id="top" class="top-no-user">      
          <div class="container-row"> 
            <% if page.variables.has_key?(:languages_translation) and not page.variables[:languages_translation].empty? %>
            <div id="languages_translation">
               <%= page.variables[:languages_translation] %>
            </div>
            <% end %>
            <div class="container_12">
              <div class="<% if page.variables.has_key?(:top) and not page.variables[:top].empty? %>prefix_1 grid_5<%else%>grid_12<% end %>">
                <h1 class="site_title">
                  <a href="/" title="site_title">
                    <% unless site_logo.empty? %>
                      <img src="<%=site_logo%>" alt="<%= site_title%>"/>
                    <% end %>
                    <% if site_logo.empty? and not site_title.empty? %>
                      <%= site_title %>
                    <% end %>
                  </a>
                </h1>
                <% unless site_slogan.empty? %>
                <small class="site_slogan">
                  <%= site_slogan %>
                </small>
                <% end %>
              </div>
              <% if page.variables.has_key?(:top) and not page.variables[:top].empty? %>
              <div class="grid_6">
                 <%= page.variables[:top] %>
              </div>
              <% end %>
            </div>
            <div class="container_12">
              <div class="prefix_9 grid_3"> 
                <% if page.variables.has_key?(:login_register) and not page.variables[:login_register].empty? %>
                  <div id="login_register">
                    <%= page.variables[:login_register]  %>
                  </div>
                <% end %>
              </div>        
            </div>
          </div>
        </div>  
      <% end %>

    <% if page.variables.has_key?(:header) %>    
      <div id="header">
        <div class="container-row">
          <div class="container_12">
            <%= page.variables[:header] %>
          </div>
        </div>
      </div>
    <% end %>
        
    <div id="container">

      <% if page.variables.has_key?(:container_header) and not page.variables[:container_header].empty? %>
      <div id="container_header">
        <div class="container-row">
          <%= page.variables[:container_header] %>
        </div>
      </div>
      <% end %>

      <% if page.variables.has_key?(:container_headline) and not page.variables[:container_headline].empty? %>
      <div id="container_headline">
        <div class="container-row">
          <%= page.variables[:container_headline] %>
        </div>
      </div>
      <% end %>
                             
      <div id="container_content" class="container_12">
        <div class="container-row">
          <% if page.variables.has_key?(:content_left) and not page.variables[:content_left].empty? %>
            <div class="grid_4">
              <div id="container_content_left">
                <%= page.variables[:content_left]  %>
              </div>
            </div>
          <% end %>
          <div class="grid_<%= ((page.variables.has_key?(:content_left) and page.variables[:content_left].length > 0)?0:4) + 4 + 
                               ((page.variables.has_key?(:content_right) and page.variables[:content_right].length > 0)?0:4) %>">
            <div id="container_content_center" <%if page.variables.has_key?(:content_right) and not page.variables[:content_right].empty?%>class="right-space right-border-nosolid"<% end %>>
              <% if page.variables.has_key?(:content_top) %>
                <%= page.variables[:content_top] %>
              <% end %>
              <%= partial :flash_messages %>
              <%= page.content %>
              <% if page.variables.has_key?(:content_bottom) %>
                <%= page.variables[:content_bottom] %>
              <% end %>
            </div>
          </div>
          <% if page.variables.has_key?(:content_right) and not page.variables[:content_right].empty? %>
            <div class="grid_4">
              <div id="container_content_right" class="left-space">
                <%= page.variables[:content_right]  %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
                                   
      <!-- Page footer -->
      <div id="container_footer" class="container_12">
        <div class="container-row">
          <div id="container_footer_content">
            <% if page.variables.has_key?(:container_bottom) %>
              <%= page.variables[:container_bottom]  %>
            <% end %>
          </div>
        </div>
      </div>
      
    </div>

    <% if page.variables.has_key?(:bottom) %>    
      <div id="bottom">
        <div class="container-row">
          <div class="container_12">
            <%= page.variables[:bottom] %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="apple_overlay" id="overlay">
	   <div class="contentWrap"></div>
    </div>	

    <script type="text/javascript">
      require(['jquery','jquery.tools'], function($) {
	      $("a[rel='#overlay'].external").overlay({
	        mask: {
		       color: '#aaaaaa',
		       loadSpeed: 200,
		       opacity: 0.5
   	        },
	        closeOnClick : false,
		    onBeforeLoad: function() {
		      this.getOverlay().width(640);
		      this.getOverlay().height(440);	
			  var wrap = this.getOverlay().find(".contentWrap");
			  wrap.load(this.getTrigger().attr("href"));
	      	}
	      });
      });
    </script>

  </body>
</html>